.DS_Store
/vendor/*

/Questao4/api/vendor/*
/Questao4/api/app.php

/Questao4/api/tmp/cache/models/*
!/Questao4/api/tmp/cache/models/empty
/Questao4/api/tmp/cache/persistent/*
!/Questao4/api/tmp/cache/persistent/empty
/Questao4/api/tmp/cache/views/*
!/Questao4/api/tmp/cache/views/empty
/Questao4/api/tmp/sessions/*
!/Questao4/api/tmp/sessions/empty
/Questao4/api/tmp/tests/*
!/Questao4/api/tmp/tests/empty

/Questao4/api/logs/*
!/Questao4/api/logs/empty