<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Vue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.1.2/vue-resource.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
    <script src="https://cdn.rawgit.com/David-Desmaisons/Vue.Draggable/master/dist/vuedraggable.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col-md-6">
                <div class="todolist not-done">
                    <h1>Task List</h1>
                    <div class="row">
                        <div class="form-group col-md-9">
                            <input type="text" class="form-control" v-model="task.name" placeholder="Name">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" v-model="task.priority" placeholder="Priority">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="2" placeholder="Description" v-model="task.description"></textarea>
                    </div>
                    <button v-on:click="saveTask" class="btn btn-success" :disabled="lockButton">
                        <span v-if="!task.id">Add New Task</span>
                        <span v-else>Edit Task</span>
                    </button>
                    <button v-on:click="task = {}" v-if="task.id" class="btn btn-default" :disabled="lockButton">
                        Cancel
                    </button>
                    <hr>
                    <ul id="sortable" class="list-unstyled">
                        <draggable  class="dragArea" :list="listToDo" :options="{group:'_tasks'}" @change="dragTaskToDoUpdate">
                            <li class="ui-state-default" v-for="task in listToDo">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="task.done" v-bind:true-value="1" v-bind:false-value="0" v-on:click="doneTask(task)"/> 
                                        <span class="label label-default">{{ task.priority }}</span> {{ task.name}}
                                        <br>
                                        {{ task.description }}
                                    </label>
                                    <button class="remove-item btn btn-default btn-xs pull-right" v-on:click="removeTask(task)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <button class="remove-item btn btn-default btn-xs pull-right" v-on:click="editTask(task)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </li>
                        </draggable>
                    </ul>
                    <div class="todo-footer">
                        <strong><span class="count-todos">{{ tasksToDo.length }}</span></strong> Items Left
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="todolist">
                    <h1>Already Done</h1>
                    <ul id="done-items" class="list-unstyled">
                        <draggable class="dragArea" :list="listDone" :options="{group:'_tasks'}" @change="dragTaskDoneUpdate">
                            <li class="ui-state-default" v-for="task in listDone">
                                <div class="checkbox">
                                    {{ task.name}}
                                    <br>
                                    {{ task.description }}
                                    <button class="remove-item btn btn-default btn-xs pull-right" v-on:click="removeTask(task)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </li>
                        </draggable>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-clock-o"></i> Please Wait</h4>
                </div>
                <div class="modal-body center-block">
                    <div class="progress">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        Vue.http.interceptors.push(function(request, next) {
            $('#myModal').modal('show');
            next(function(response) {
                $('#myModal').modal('hide');
            });
        });
        new Vue({
            http: {
                root: 'http://localhost:8001',
                headers: {
                    'Access-Control-Allow-Origin' : '*'
                }
            },
            el: '#app',
            data: {
                tasksToDo: [],
                tasksDone: [],
                task: {},
                lockButton: false
            },
            mounted() {
                this.getTasksToDo();
                this.getTasksDone();
            },
            computed: {
                listToDo: {
                    get: function(){
                        return _.orderBy(this.tasksToDo, ['priority', 'name'], ['desc', 'asc']); 
                    },
                    set: function (newValue) {
                        this.tasksToDo.push(newValue);
                    }
                },
                listDone: {
                    get: function(){
                        return _.orderBy(this.tasksDone, ['priority', 'name'], ['desc', 'asc']); 
                    },
                    set: function (newValue) {
                        this.tasksDone.push(newValue);
                    }
                },
            },
            methods: {
                getTasksToDo: function (){
                    var self = this;
                    this.$http.get('tasks.json').then(response => {
                        self.tasksToDo = response.body.tasks;
                    }, response => {

                    });
                },
                getTasksDone: function (){
                    var self = this;
                    this.$http.get('tasks.json?type=done').then(response => {
                        self.tasksDone = response.body.tasks;
                    }, response => {

                    });
                },
                saveTask: function (){
                    var self = this;
                    if (this.task.id){
                        this.$http.put('tasks/'+ this.task.id +'.json', this.task, {before: function(request){ self.lockButton = true; }}).then(response => {
                            self.tasksToDo.splice(self.task.index, 1);
                            self.tasksToDo.push(response.body.task);
                            self.task = {};
                            self.lockButton = false;
                        }, response => {

                        });   
                    }else{
                        this.$http.post('tasks.json', this.task, {before: function(request){ self.lockButton = true; }}).then(response => {
                            self.task = {};
                            self.tasksToDo.push(response.body.task);
                            self.lockButton = false;
                        }, response => {

                        });   
                    }
                },
                doneTask: function (task){
                    var self = this;
                    this.$http.put('tasks/'+task.id+'.json', task).then(response => {
                        self.tasksToDo.splice(self.tasksToDo.indexOf(task), 1);
                        self.tasksDone.push(response.body.task);
                    }, response => {

                    });   
                },
                removeTask: function (task){
                    var self = this;
                    this.$http.delete('tasks/'+task.id+'.json').then(response => {
                        if (task.done){
                            self.tasksDone.splice(self.tasksDone.indexOf(task), 1);
                        }else{
                            self.tasksToDo.splice(self.tasksToDo.indexOf(task), 1);
                        }
                    }, response => {

                    });   
                },
                editTask: function (task){
                    index = this.tasksToDo.indexOf(task);
                    this.task = _.clone(task);
                    this.task.index = index;
                },
                dragTaskToDoUpdate: function(event){
                    var task = false;
                    if (event.removed){
                        event.removed.element.done = 1;
                        task = event.removed.element;
                        task.done = 1;
                        this.listDone = task;
                    }else if (event.added){
                        task = event.added.element;
                        task.done = 0;
                        this.listTodo = task;
                    }else if (event.moved){
                        task = event.moved.element;
                        task.priority = this.listToDo[event.moved.oldIndex].priority + 1;
                        this.tasksToDo.splice(this.tasksToDo.indexOf(task), 1);
                        this.tasksToDo.push(task);
                    }
                    if (task !== false){
                        this.$http.put('tasks/'+ task.id +'.json', task);
                    }
                },
                dragTaskDoneUpdate: function(event){
                    if (event.moved){
                        var task = event.moved.element;
                        task.priority = this.tasksDone[event.moved.oldIndex].priority + 1;
                        this.tasksDone.splice(this.tasksDone.indexOf(task), 1);
                        this.listDone = task;
                        this.$http.put('tasks/'+ task.id +'.json', task);
                    }
                }
            }
        })
    </script>
</body>
</html>
